# Foreign Aid & the World's Least Developed Countries (LDCs)
------
**Carl Smith**
* This notebook contains the data wrangling and cleaning required for this analysis. The wrangled and cleaned data will then be saved and exported for use in the *2-EDA* workbook.

### Table of Contents  <a id='top'></a>
<ul>
<li><a href="#sources">Data Sources</a></li>
<li><a href="#analysis">Data Wrangling</a></li>
<li><a href="#cleaning">Data Cleaning</a></li>
<li><a href="#export">Save & Export Data</a></li>
</ul>

<a id='sources'></a>
### Data Sources  <a href="#top" style="font-size:12px">(back to top)</a>
-----

* Gapminder data tables, [link to data](https://www.gapminder.org/data/).
    - Foreign Aid Received per capita (current USD&#36;)
    - Human Devlopment Index (HDI)
    - Gini Coefficient
    - Total Fertility Rate

<a id='analysis'></a>
### Data Wrangling  <a href="#top" style="font-size:12px">(back to top)</a>
------

> This section will contain all of the wrangling and cleaning of the raw data sources, located in the repository path "data\raw". Cleaned data will be saved in "data\processed", and then used for EDA.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

> First let's take a look at the data for foreign aid received per capita, HDI, Gini, and fertility rates.

In [4]:
# Aid received per capita data
df_aid_received = pd.read_csv('../data/raw/aid_received_per_capita.csv')
df_aid_received.set_index('country', inplace=True)
df_aid_received

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.91000,3.78000,1.81,3.84000,4.74,5.420,5.0000,3.9500,2.75000,2.500,...,215.00,214.00,224.00,214.00,160.00,148.00,124.00,115.000,105.00,102.00
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.00,125.00,131.00,120.00,93.30,97.30,116.00,59.500,58.50,120.00
Algeria,32.10000,38.60000,34.20,23.70000,18.60,11.700,9.8400,8.1100,8.75000,9.330,...,8.56,5.59,5.27,3.94,5.33,4.13,1.79,3.560,4.22,3.41
Angola,-0.00917,4.26000,NaN,0.00528,NaN,0.192,0.4950,3.1500,0.00173,-0.019,...,10.60,10.10,7.97,9.70,11.00,8.74,13.60,7.160,7.49,5.18
Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.10,223.00,173.00,23.10,17.40,27.50,15.90,0.635,104.00,174.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0.09830,1.03000,9.14,4.85000,-5.73,1.460,2.8600,2.4600,1.72000,1.060,...,2.11,1.87,1.70,1.73,1.27,1.44,1.22,1.460,2.96,5.10
Vietnam,5.87000,4.96000,5.08,6.35000,6.66,8.300,13.3000,11.5000,10.90000,11.000,...,38.20,31.50,37.50,45.80,45.00,46.00,34.20,31.000,25.40,17.10
Yemen,2.76000,2.76000,3.30,3.88000,4.14,5.510,6.6300,4.2500,1.03000,0.781,...,24.80,28.80,20.10,29.10,41.30,45.10,67.10,84.700,116.00,280.00
Zambia,0.30000,0.28800,1.80,1.60000,6.06,3.040,7.9300,16.1000,7.73000,5.010,...,96.20,67.60,73.70,66.20,76.70,64.80,50.20,59.100,61.70,57.20
Zimbabwe,NaN,0.00256,NaN,2.60000,1.06,0.832,0.0865,0.0795,0.42500,0.127,...,58.80,56.10,56.00,76.40,62.00,56.00,57.10,46.600,51.00,55.00

In [10]:
df_aid_received.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, Afghanistan to Zimbabwe
Data columns (total 59 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    105 non-null    float64
 1   1961    112 non-null    float64
 2   1962    105 non-null    float64
 3   1963    111 non-null    float64
 4   1964    108 non-null    float64
 5   1965    109 non-null    float64
 6   1966    117 non-null    float64
 7   1967    118 non-null    float64
 8   1968    114 non-null    float64
 9   1969    116 non-null    float64
 10  1970    114 non-null    float64
 11  1971    117 non-null    float64
 12  1972    116 non-null    float64
 13  1973    124 non-null    float64
 14  1974    125 non-null    float64
 15  1975    129 non-null    float64
 16  1976    128 non-null    float64
 17  1977    129 non-null    float64
 18  1978    130 non-null    float64
 19  1979    131 non-null    float64
 20  1980    131 non-null    float64
 21  1981    131 non-null    float64
 22  1982    131 non-null    float64
 23  1983    132 non-null    float64
 24  1984    130 non-null    float64
 25  1985    131 non-null    float64
 26  1986    133 non-null    float64
 27  1987    132 non-null    float64
 28  1988    134 non-null    float64
 29  1989    133 non-null    float64
 30  1990    135 non-null    float64
 31  1991    140 non-null    float64
 32  1992    146 non-null    float64
 33  1993    149 non-null    float64
 34  1994    151 non-null    float64
 35  1995    152 non-null    float64
 36  1996    146 non-null    float64
 37  1997    145 non-null    float64
 38  1998    145 non-null    float64
 39  1999    145 non-null    float64
 40  2000    143 non-null    float64
 41  2001    143 non-null    float64
 42  2002    143 non-null    float64
 43  2003    142 non-null    float64
 44  2004    142 non-null    float64
 45  2005    144 non-null    float64
 46  2006    144 non-null    float64
 47  2007    144 non-null    float64
 48  2008    143 non-null    float64
 49  2009    143 non-null    float64
 50  2010    143 non-null    float64
 51  2011    140 non-null    float64
 52  2012    139 non-null    float64
 53  2013    139 non-null    float64
 54  2014    138 non-null    float64
 55  2015    138 non-null    float64
 56  2016    138 non-null    float64
 57  2017    138 non-null    float64
 58  2018    134 non-null    float64
dtypes: float64(59)
memory usage: 73.6+ KB

In [9]:
df_aid_received.isna().sum().sum()

1455

In [14]:
df_aid_received.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,105.000000,112.000000,105.000000,111.000000,108.000000,109.000000,117.000000,118.000000,114.000000,116.000000,...,143.000000,143.000000,140.000000,139.000000,139.000000,138.000000,138.000000,138.000000,138.000000,134.000000
mean,6.064282,7.190350,7.809632,7.306213,7.605972,8.953580,9.817464,9.312405,9.848829,9.377332,...,141.438972,146.626580,177.454650,162.486326,166.420770,148.225478,148.097784,119.253964,143.918728,170.296724
std,12.840747,12.613342,13.236907,11.868944,10.940492,11.762366,12.289175,12.886731,12.993918,12.987084,...,315.349430,312.793487,475.053594,403.945805,399.507039,358.391656,453.349193,268.833656,319.707144,491.984870
min,-0.962000,-1.620000,-7.350000,-2.670000,-5.730000,-2.710000,-2.750000,-2.490000,0.001730,-0.019000,...,-0.464000,-10.300000,-1.990000,-1.940000,-7.520000,-49.500000,-0.437000,-2.350000,-26.300000,-11.900000
25%,0.199000,0.907500,1.370000,1.275000,1.757500,1.630000,2.630000,2.152500,1.885000,1.642500,...,21.200000,17.650000,20.525000,16.750000,19.850000,22.800000,22.250000,18.125000,20.275000,22.725000
50%,1.710000,3.105000,3.300000,3.280000,4.170000,4.970000,5.640000,4.490000,5.125000,4.985000,...,55.600000,62.300000,60.950000,60.000000,61.200000,52.400000,49.750000,47.200000,57.550000,54.900000
75%,5.000000,6.292500,7.800000,7.960000,8.660000,9.460000,11.600000,9.797500,10.425000,9.822500,...,113.500000,126.500000,130.250000,131.000000,113.500000,107.750000,101.700000,94.825000,106.500000,115.000000
max,94.600000,94.200000,80.900000,78.700000,68.500000,58.800000,60.700000,74.200000,69.100000,70.200000,...,2360.000000,2780.000000,3730.000000,3470.000000,2660.000000,3130.000000,4470.000000,2180.000000,2330.000000,4710.000000

> Looks like there are some missing values we will need to deal with. Everything else looks ok for now.

In [11]:
# HDI data
df_hdi = pd.read_csv('../data/raw/hdi.csv')
df_hdi.set_index('country', inplace=True)    
df_hdi

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.295,0.300,0.309,0.305,0.300,0.324,0.328,0.332,0.335,0.338,...,0.415,0.433,0.434,0.448,0.454,0.463,0.470,0.476,0.479,0.479
Albania,0.635,0.618,0.603,0.608,0.616,0.628,0.637,0.636,0.646,0.656,...,0.703,0.713,0.721,0.725,0.738,0.752,0.759,0.761,0.762,0.764
Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.609,0.617,0.627,0.636,...,0.690,0.697,0.705,0.714,0.724,0.732,0.737,0.741,0.743,0.745
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.819,0.819,0.843,0.850,0.857,0.858
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.382,...,0.454,0.468,0.480,0.488,0.495,0.508,0.523,0.527,0.531,0.533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0.634,0.644,0.650,0.653,0.654,0.658,0.660,0.664,0.667,0.670,...,0.728,0.745,0.754,0.754,0.756,0.767,0.770,0.771,0.769,0.767
Vietnam,0.477,0.486,0.498,0.508,0.519,0.531,0.542,0.542,0.562,0.569,...,0.625,0.633,0.641,0.647,0.655,0.662,0.668,0.675,0.678,0.683
Yemen,0.405,0.408,0.412,0.414,0.418,0.421,0.424,0.428,0.432,0.436,...,0.477,0.480,0.483,0.488,0.493,0.494,0.498,0.500,0.499,0.482
Zambia,0.398,0.396,0.397,0.402,0.401,0.405,0.408,0.411,0.413,0.418,...,0.492,0.504,0.518,0.533,0.543,0.554,0.565,0.570,0.576,0.579
Zimbabwe,0.499,0.501,0.486,0.479,0.475,0.465,0.460,0.451,0.442,0.434,...,0.414,0.421,0.419,0.436,0.452,0.464,0.488,0.498,0.507,0.516

In [12]:
df_hdi.isna().sum().sum()

540

In [15]:
df_hdi.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,143.000000,143.000000,143.000000,143.000000,143.000000,147.000000,147.000000,147.000000,147.000000,150.000000,...,181.000000,181.000000,181.000000,181.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000
mean,0.592552,0.594741,0.597070,0.601063,0.605420,0.608612,0.613946,0.619259,0.624435,0.624560,...,0.657337,0.664083,0.669862,0.673591,0.678551,0.683471,0.688460,0.692337,0.695706,0.697695
std,0.166281,0.166808,0.167563,0.168605,0.170327,0.169428,0.169412,0.169355,0.169905,0.171892,...,0.165672,0.164153,0.162393,0.159554,0.157665,0.156405,0.155093,0.155065,0.154876,0.154739
min,0.209000,0.212000,0.206000,0.203000,0.194000,0.230000,0.237000,0.240000,0.249000,0.253000,...,0.293000,0.298000,0.307000,0.312000,0.323000,0.331000,0.341000,0.345000,0.347000,0.352000
25%,0.475000,0.477500,0.477000,0.476500,0.480000,0.478000,0.476500,0.477500,0.482000,0.464250,...,0.509000,0.518000,0.523000,0.535000,0.544000,0.554000,0.564000,0.570000,0.570000,0.576500
50%,0.620000,0.626000,0.622000,0.628000,0.632000,0.634000,0.642000,0.647000,0.650000,0.650500,...,0.696000,0.699000,0.704000,0.707000,0.711000,0.714000,0.720000,0.723000,0.724000,0.727000
75%,0.722000,0.725000,0.719000,0.724000,0.732500,0.739500,0.745500,0.751500,0.760000,0.763250,...,0.787000,0.787000,0.791000,0.797000,0.797500,0.797000,0.799000,0.803000,0.804500,0.805500
max,0.866000,0.867000,0.871000,0.874000,0.884000,0.885000,0.888000,0.895000,0.906000,0.911000,...,0.934000,0.936000,0.936000,0.936000,0.939000,0.941000,0.942000,0.945000,0.948000,0.949000

> Looks like the HDI raw data is missing data for 2016, 2017, and 2018. Ideally, I would like to include this data in my analysis, so I will try to find this data from another source and append it to this dataframe.

In [16]:
# Gini coefficient data
df_gini = pd.read_csv('../data/raw/gini.csv')
df_gini.set_index('country', inplace=True)     
df_gini

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,36.8,36.8,36.8,36.8,36.8,36.8,36.8,36.8,36.8,36.8
Albania,38.9,38.9,38.9,38.9,38.9,38.9,38.9,38.9,38.9,38.9,...,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
Algeria,56.2,56.2,56.2,56.2,56.2,56.2,56.2,56.2,56.2,56.2,...,27.6,27.6,27.6,27.6,27.6,27.6,27.6,27.6,27.6,27.6
Andorra,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
Angola,57.2,57.2,57.2,57.2,57.2,57.2,57.2,57.2,57.2,57.2,...,42.6,42.6,42.6,42.6,42.6,42.6,42.6,42.6,42.6,42.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,62.8,62.8,62.8,62.8,62.8,62.8,62.8,62.8,62.8,62.8,...,46.9,46.9,46.9,46.9,46.9,46.9,46.9,46.9,46.9,46.9
Vietnam,34.2,34.2,34.2,34.2,34.2,34.2,34.2,34.2,34.2,34.2,...,35.3,35.3,35.3,35.3,35.3,35.3,35.3,35.3,35.3,35.3
Yemen,50.1,50.1,50.1,50.1,50.1,50.1,50.1,50.1,50.1,50.1,...,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7
Zambia,54.5,54.5,54.5,54.5,54.5,54.5,54.5,54.5,54.5,54.5,...,57.1,57.1,57.1,57.1,57.1,57.1,57.1,57.1,57.1,57.1
Zimbabwe,27.5,27.5,27.5,27.5,27.5,27.5,27.5,27.5,27.5,27.5,...,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2

In [20]:
df_gini.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,41.411282,41.411282,41.411282,41.411282,41.411282,41.411282,41.411282,41.411282,41.411282,41.411282,...,38.850769,38.850769,38.850769,38.850769,38.850769,38.850769,38.850769,38.850769,38.850769,38.850769
std,9.499868,9.499868,9.499868,9.499868,9.499868,9.499868,9.499868,9.499868,9.499868,9.499868,...,7.378433,7.378433,7.378433,7.378433,7.378433,7.378433,7.378433,7.378433,7.378433,7.378433
min,16.300000,16.300000,16.300000,16.300000,16.300000,16.300000,16.300000,16.300000,16.300000,16.300000,...,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
25%,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,...,33.500000,33.500000,33.500000,33.500000,33.500000,33.500000,33.500000,33.500000,33.500000,33.500000
50%,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,...,39.100000,39.100000,39.100000,39.100000,39.100000,39.100000,39.100000,39.100000,39.100000,39.100000
75%,46.650000,46.650000,46.650000,46.650000,46.650000,46.650000,46.650000,46.650000,46.650000,46.650000,...,42.750000,42.750000,42.750000,42.750000,42.750000,42.750000,42.750000,42.750000,42.750000,42.750000
max,74.200000,74.200000,74.200000,74.200000,74.200000,74.200000,74.200000,74.200000,74.200000,74.200000,...,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000

> With the gini data, there are a number values that have been interpolated back to 1800, and up to 2040. Therefore, when cleaning I will attempt to minimize the use of these interpolated values so that they don't significantly affect the analysis. This shouldn't be an issue, because the dates that I will be focusing on shouldn't have many, if any, interpolated data.

In [21]:
# Fertility data
df_fertility = pd.read_csv('../data/raw/fertility_rates.csv')
df_fertility.set_index('country', inplace=True)
df_fertility

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.78,1.78,1.78,1.79,1.79,1.79,1.79,1.79,1.79,1.79
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,1.86,1.86,1.86,1.86,1.86,1.86,1.86,1.86,1.86,1.86
Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,6.94,...,2.54,2.52,2.50,2.48,2.47,2.45,2.43,2.42,2.40,2.40
Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,4.97,...,1.81,1.81,1.81,1.81,1.81,1.81,1.81,1.82,1.82,1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,5.63,5.63,5.64,5.64,5.64,5.65,5.65,5.65,5.66,5.66,...,1.78,1.78,1.78,1.79,1.79,1.79,1.79,1.79,1.79,1.79
Vietnam,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,...,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89
Yemen,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,...,1.68,1.68,1.69,1.69,1.69,1.69,1.70,1.70,1.70,1.70
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,2.59,2.57,2.56,2.54,2.53,2.51,2.50,2.48,2.46,2.46
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,1.85,1.85,1.85,1.84,1.84,1.84,1.83,1.83,1.83,1.83

In [22]:
df_fertility.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,...,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,6.110707,6.107663,6.111033,6.110054,6.110435,6.110217,6.105815,6.104511,6.096359,6.084457,...,1.894239,1.890870,1.888098,1.885707,1.882935,1.880380,1.878261,1.876033,1.873478,1.873478
std,0.791456,0.795118,0.789068,0.788346,0.788456,0.784976,0.790403,0.791440,0.806280,0.834796,...,0.196231,0.190281,0.184809,0.179226,0.173738,0.168261,0.163354,0.158414,0.153074,0.153074
min,4.040000,4.040000,3.910000,4.050000,3.940000,4.060000,4.070000,4.050000,4.000000,3.210000,...,1.440000,1.440000,1.450000,1.450000,1.450000,1.450000,1.450000,1.450000,1.450000,1.450000
25%,5.670000,5.670000,5.670000,5.670000,5.670000,5.670000,5.670000,5.670000,5.670000,5.670000,...,1.770000,1.780000,1.780000,1.780000,1.780000,1.780000,1.780000,1.780000,1.780000,1.780000
50%,6.190000,6.190000,6.190000,6.190000,6.190000,6.190000,6.190000,6.180000,6.160000,6.160000,...,1.810000,1.810000,1.810000,1.810000,1.810000,1.810000,1.810000,1.810000,1.810000,1.810000
75%,6.717500,6.717500,6.717500,6.717500,6.717500,6.717500,6.717500,6.717500,6.717500,6.717500,...,1.930000,1.930000,1.922500,1.922500,1.922500,1.920000,1.920000,1.912500,1.910000,1.910000
max,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,...,2.630000,2.600000,2.580000,2.550000,2.530000,2.510000,2.500000,2.480000,2.460000,2.460000

> Similar to the Gini Coefficient data, fertility rates are interpolated back to 1800 and up to 2100. Again, for this analysis this shouldn't have a significant effect.

<a id='cleaning'></a>
### Data Cleaning <a href="#top" style="font-size:12px">(back to top)</a>
------

> Now that I have all raw data wrangled, I will clean it to isolate the Least Developed Countries (LDCs), and the time series 2000-2018.

In [ ]:
# Insert cleaning before this list is made and some context from NOTES notebook

In [36]:
# List of LDCs 
ldc = ['Afghanistan',
       'Angola',
       'Bangladesh',
       'Benin',
       'Bhutan',
       'Burkina Faso',
       'Burundi',
       'Cambodia',
       'Central African Republic', 
       'Chad',
       'Comoros',
       'Congo, Dem. Rep.',
       'Djibouti',
       'Eritrea',
       'Ethiopia', 
       'Gambia',
       'Guinea', 
       'Guinea-Bissau', 
       'Haiti', 
       'Kiribati', 
       'Lao', 
       'Lesotho', 
       'Liberia',
       'Madagascar',
       'Malawi', 
       'Mali', 
       'Mauritania',
       'Mozambique',
       'Myanmar',
       'Nepal',
       'Niger',
       'Rwanda',
       'Sao Tome and Principe',
       'Senegal',
       'Sierra Leone', 
       'Solomon Islands', 
       'Somalia', 
       'Sudan',
       'Tanzania', 
       'Togo',
       'Uganda',
       'Vanuatu',
       'Yemen',
       'Zambia']

In [37]:
len(ldc)

44

<a id='export'></a>
### Save & Export Data <a href="#top" style="font-size:12px">(back to top)</a>
----